.tictactoe-board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}
.right-border{
    border-right: 2px solid #2196F3;
}
.bottom-border{
    border-bottom: 2px solid #2196F3;
}