.department-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.appointment-btn{
    text-align: center;
    width: 65%;
    margin: 20px auto;
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    .appointment-btn{
        width: 40%;
    }
}

@media screen and (min-width: 1025px){
    .appointment-btn{
        width: 25%;
    }
}